<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="container">

        <button  (click)="addText(inputbox.value)">Add</button>

        <p><label for="my-input">Enter text</label></p>
          <p class="input-field">
            <input 
            type="text" 
            name="" 
            id="my-input"
            #inputbox
            >
          </p>
          
            
           <div id="my-text">
            
           </div>     
            
          
   
        
    </div>
    
</body>
</html>